@media only screen and (max-width: 768px) {
    header .navbar-brand {
        padding-left: 0rem;
        margin-left: -10vmin;
    }

    header .reimg {
        width: 6vw;
    }

    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;

    }

    .section2 .cover {
        background-position: -25vmin -10vmin;
    }

    .numbers .rect {
        width: 10rem;
        height: 8rem;
    }

    .numbers .rect h1 {
        font-size: 2rem;
    }

    .section3 {
        height: inherit;
        padding: 10vmin !important;
    }

    .section3 .row h1 {
        padding: 6vmin 4vmin;
    }

    .section3 .row .col-md-6 {
        text-align: center !important;
    }

    .section3 .desktop i {
        font-size: 8vmin;
    }

    .section4 .carousel-item {
        padding-left: 0.6rem;
    }

    .section4 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section4 .carousel-inner {
        width: 24rem;
    }
}

@media only screen and(max-width:425px) {

    footer .row .col-md-2 {
        margin-top: 8vmin;
    }

    header .navbar-brand {
        padding-left: 0rem;
        margin-left: -25vmin;
    }

}

@media only screen and(max-width:320px) {

    .section4 .card {
        width: 18rem;
    }

    .section4 .carousel-inner {
        margin-left: -14vmin;
    }

    header .navbar-brand {
        padding-left: 0rem;
        margin-left: -30vmin;
    }
}