/* google fonts*/

@import url('https://fonts.googleapis.com/css?family=Aclonica|Galdeano|Gugi|Lemon|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    box-sizing: border-box;
}

section {
    background-color: #2c2c54;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

:root {
    --gal: 'Galdeano', sans-serif;
    --gug: 'Gugi', cursive;
    --best: "Audiowide", cursive;
    --pix: 'Press Start 2P', cursive;
    --alc: 'Aclonica', sans-serif;
    --lem: 'Lemon', cursive;
    --rob: 'Roboto', sans-serif;

    --bakcol: linear-gradient(to bottom, #ff1919, #ffa600);
}

.navi {

    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
}



.btn-whatever {

    background-color: #2c2c54;
    color: white;
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    font-family: var(--pix);
    transition-duration: 0.8s;
    font-size: 16px;
}

.btn-whatever:hover {

    background-color: rgb(255, 255, 255);
    box-shadow: 16px 16px 80px 80px rgba(255, 255, 255, 0.24), 16px 16px 80px 80px rgba(255, 255, 255, 0.19);
    /* Green */
    color: #2c2c54;
}

header {
    background-color: #2c2c54;
}

main {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #393377, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.q {

    font-weight: bolder;
    color: white;
    padding-top: 35vh;
}

.new {
    background-color: white;
    height: 42vmin;

}

.low {
    font-family: var(--rob);
    font-size: xx-large;
    font-weight: lighter;
    color: #2c2c54;
    padding-top: 1%;
}

.fab {
    color: #2c2c54;
    font-size: 8vmin;
    -webkit-animation-duration: 2s;

    animation-duration: 2s;
}

.fas {
    color: #2c2c54;
    font-size: 8vmin;
}

.fab:hover {

    transform: scale(1.5, 1.5);
    color: #000000;
}

.fas:hover {

    transform: scale(1.5, 1.5);
    color: #000000;
}

#logo {
    animation: fill 3.5s ease forwards 6.9s;

}

#logo path:nth-child(1) {
    stroke-dasharray: 378.3202819824219px;
    stroke-dashoffset: 378.3202819824219px;
    animation: line-anime 2s ease-in-out forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 157.4098358154297px;
    stroke-dashoffset: 157.4098358154297px;
    animation: line-anime 2s ease-in-out forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 64.8228988647461px;
    stroke-dashoffset: 64.8228988647461px;
    animation: line-anime 2s ease-in-out forwards 1.5s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 160.9375px;
    stroke-dashoffset: 160.9375px;
    animation: line-anime 2s ease-in-out forwards 2s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 313.6001281738281px;
    stroke-dashoffset: 313.6001281738281px;
    animation: line-anime 2s ease-in-out forwards 3.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 428.3379211425781px;
    stroke-dashoffset: 428.3379211425781px;
    animation: line-anime 2s ease-in-out forwards 3.2s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 335.1279602050781px;
    stroke-dashoffset: 335.1279602050781px;
    animation: line-anime 2s ease-in-out forwards 4.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 157.40914916992188px;
    stroke-dashoffset: 157.40914916992188px;
    animation: line-anime 2s ease-in-out forwards 4.8s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 281.0960693359375px;
    stroke-dashoffset: 281.0960693359375px;
    animation: line-anime 2s ease-in-out forwards 4.8s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 273.1811218261719px;
    stroke-dashoffset: 273.1811218261719px;
    animation: line-anime 2s ease-in-out forwards 4.8s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 284.70599365234375px;
    stroke-dashoffset: 284.70599365234375px;
    animation: line-anime 2s ease-in-out forwards 4.8s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 319.143798828125px;
    stroke-dashoffset: 319.143798828125px;
    animation: line-anime 2s ease-in-out forwards 4.8s;
}

@keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }

    33% {
        fill: white;
    }

    66% {
        fill: transparent;
    }

    100% {
        fill: white;
    }
}

@-webkit-keyframes fill {
    0% {
        fill: transparent;
    }

    33% {
        fill: white;
    }

    66% {
        fill: transparent;
    }

    100% {
        fill: white;
    }
}

.float {
    position: absolute;
    top: 0;
    left: 0;

}

.colo:hover {
    color: #d1a461;
    transform: scale(1.25, 1.25);
}

.colo {
    color: white;
    animation: float 33s linear infinite;
}

@keyframes float {
    0% {
        opacity: 0;
    }

    7% {
        opacity: 1;
        transform: translateX(10vw) translateY(35vh) rotate(90deg);
        filter: blur(1px);

    }

    15% {

        transform: translateX(22vw) translateY(42vh) rotate(220deg);
        filter: blur(1px);

    }

    21% {
        transform: translateX(12vw) translateY(20vh) rotate(360deg);
        filter: blur(1px);
    }

    26% {
        transform: translateX(70vw) translateY(44vh) rotate(200deg);
        filter: blur(1px);

    }

    36% {
        transform: translateX(40vw) translateY(59vh) rotate(90deg);
        filter: blur(1px);
    }

    44% {
        transform: translateX(2vw) translateY(50vh) rotate(135deg);
        filter: blur(1px);
    }

    54% {
        transform: translateX(60vw) translateY(5vh) rotate(240deg);
        filter: blur(1px);
    }

    61% {
        transform: translateX(95vw) translateY(50vh) rotate(370deg);
        filter: blur(1px);
    }

    69% {
        transform: translateX(50vw) translateY(15vh) rotate(29deg);
        filter: blur(1px);
    }

    76% {
        transform: translateX(33vw) translateY(20vh) rotate(140deg);
        filter: blur(1px);
    }

    82% {
        transform: translateX(70vw) translateY(27vh) rotate(15deg);
        filter: blur(1px);
    }

    89.5% {
        transform: translateX(40vw) translateY(60vh) rotate(160deg);
        filter: blur(1px);
    }

    96% {
        transform: translateX(90vw) translateY(0vh) rotate(280deg);
        filter: blur(1px);
    }


    100% {
        transform: translateX(95vw) translateY(0vh) rotate(360deg);
        filter: blur(3px);
    }

}

@-webkit-keyframes float {
    0% {
        opacity: 0;
    }

    7% {
        opacity: 1;
        transform: translateX(10vw) translateY(35vh) rotate(90deg);
        filter: blur(1px);

    }

    15% {

        transform: translateX(22vw) translateY(42vh) rotate(220deg);
        filter: blur(1px);

    }

    21% {
        transform: translateX(12vw) translateY(20vh) rotate(360deg);
        filter: blur(1px);
    }

    26% {
        transform: translateX(70vw) translateY(44vh) rotate(200deg);
        filter: blur(1px);

    }

    36% {
        transform: translateX(40vw) translateY(59vh) rotate(90deg);
        filter: blur(1px);
    }

    44% {
        transform: translateX(2vw) translateY(50vh) rotate(135deg);
        filter: blur(1px);
    }

    54% {
        transform: translateX(60vw) translateY(5vh) rotate(240deg);
        filter: blur(1px);
    }

    61% {
        transform: translateX(95vw) translateY(50vh) rotate(370deg);
        filter: blur(1px);
    }

    69% {
        transform: translateX(50vw) translateY(15vh) rotate(29deg);
        filter: blur(1px);
    }

    76% {
        transform: translateX(33vw) translateY(20vh) rotate(140deg);
        filter: blur(1px);
    }

    82% {
        transform: translateX(70vw) translateY(27vh) rotate(15deg);
        filter: blur(1px);
    }

    89.5% {
        transform: translateX(40vw) translateY(60vh) rotate(160deg);
        filter: blur(1px);
    }

    96% {
        transform: translateX(90vw) translateY(0vh) rotate(280deg);
        filter: blur(1px);
    }


    100% {
        transform: translateX(95vw) translateY(0vh) rotate(360deg);
        filter: blur(3px);
    }

}