/* google fonts*/

@import url('https://fonts.googleapis.com/css?family=Aclonica|Galdeano|Gugi|Lemon|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    box-sizing: border-box;
}

:root {
    --gal: 'Galdeano', sans-serif;
    --gug: 'Gugi', cursive;
    --best: "Audiowide", cursive;
    --pix: 'Press Start 2P', cursive;
    --alc: 'Aclonica', sans-serif;
    --lem: 'Lemon', cursive;
    --rob: 'Roboto', sans-serif;
}

.navi {

    color: white;
    margin-left: 45%;
}

.space {
    width: 100%;
    height: 15vmin;
    background-color: deepskyblue;
}

.btn-whatever {

    background-color: deepskyblue;
    color: white;
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    font-family: var(--pix);
    transition-duration: 0.8s;
    font-size: 16px;
}

.btn-whatever:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 16px 16px 80px 80px rgba(255, 255, 255, 0.24), 16px 16px 80px 80px rgba(255, 255, 255, 0.19);
    /* Green */
    color: deepskyblue;
}

header {
    background-color: deepskyblue;
}

main {
    background-color: deepskyblue;
}

footer {
    background-color: deepskyblue;
}

.q {
    font-family: var(--best);
    font-size: 65px;
    font-weight: bolder;
    color: white;
    padding-top: 10%;
}

.new {
    background-color: white;
    height: 42vmin;

}

.low {
    font-family: var(--rob);
    font-size: xx-large;
    font-weight: lighter;
    color: deepskyblue;
    padding-top: 1%;
}

.fab {
    color: deepskyblue;
    font-size: 8vmin;
}

.fas {
    color: deepskyblue;
    font-size: 8vmin;
}

.fab:hover {
    background-color: rgb(255, 255, 255);

    color: springgreen;
}

.fas:hover {
    background-color: white;
    color: springgreen;
}