/* google fonts*/

@import url('https://fonts.googleapis.com/css?family=Aclonica|Galdeano|Gugi|Lemon|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    box-sizing: border-box;
}

section {
    background-color: #ff2f13;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

:root {
    --gal: 'Galdeano', sans-serif;
    --gug: 'Gugi', cursive;
    --best: "Audiowide", cursive;
    --pix: 'Press Start 2P', cursive;
    --alc: 'Aclonica', sans-serif;
    --lem: 'Lemon', cursive;
    --rob: 'Roboto', sans-serif;

    --bakcol: linear-gradient(to bottom, #ff1919, #ffa600);
}

.navi {

    color: white;
    margin-left: 45%;
    padding-top: 7%;
}



.btn-whatever {

    background-color: #ff2f13;
    color: white;
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    font-family: var(--pix);
    transition-duration: 0.8s;
    font-size: 16px;
}

.btn-whatever:hover {

    background-color: rgb(255, 255, 255);
    box-shadow: 16px 16px 80px 80px rgba(255, 255, 255, 0.24), 16px 16px 80px 80px rgba(255, 255, 255, 0.19);
    /* Green */
    color: #ff2f13;
}

header {
    background-color: #ff2f13;
}

main {
    background-color: #ff2f13;
}


.q {
    font-family: var(--best);
    font-size: 65px;
    font-weight: bolder;
    color: white;
    padding-top: 8%;
}

.new {
    background-color: white;
    height: 42vmin;

}

.low {
    font-family: var(--rob);
    font-size: xx-large;
    font-weight: lighter;
    color: #ff2f13;
    padding-top: 1%;
}

.fab {
    color: #ff2f13;
    font-size: 8vmin;
    -webkit-animation-duration: 2s;

    animation-duration: 2s;
}

.fas {
    color: #ff2f13;
    font-size: 8vmin;
}

.fab:hover {

    transform: scale(1.8, 1.8);
    color: #13c8ff;
}

.fas:hover {

    transform: scale(1.8, 1.8);
    color: #13c8ff;
}


.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
    mix-blend-mode: difference;
}