<header pageTitle="    A b  o  u t    U  s" iconTitle="info" helpTitle="Aboutuspagehelp">
</header>
<mat-card [@fallIn]='state'>
  <mat-card-title>
    About us mofos
  </mat-card-title>
  <mat-card-content>
    <button routerLink="/settings">
      goto settings
    </button>
  </mat-card-content>
</mat-card>

<mat-tab-group>
  <mat-tab label="Manage"> Content 1 </mat-tab>
  <mat-tab label="AboutUS"> Content 2 </mat-tab>
  <mat-tab label="FAQ"> Content 3 </mat-tab>
  <mat-tab label="Pro"> Content 3 </mat-tab>
  <mat-tab label="Terms"> Content 3 </mat-tab>
</mat-tab-group>
